/* 16 columns */
/* line 14, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 24, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 28, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 31, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 33, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_reset.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 35, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_reset.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 37, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 39, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 41, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 43, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 45, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_reset.scss */
input, select {
  vertical-align: middle;
}

/* line 11, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_fonts.scss */
body {
  font-size: 13px;
  font-family: Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
  line-height: 1;
  *font-size: small;
}

/* line 18, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_fonts.scss */
select, input, textarea, button {
  font: 99% Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
}

/* line 23, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_fonts.scss */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* line 16, ../sass/partials/_overrides.scss */
html {
  overflow-y: scroll;
}

/* line 18, ../sass/partials/_overrides.scss */
ul, ol {
  margin-left: 0;
}

/* line 19, ../sass/partials/_overrides.scss */
ol {
  list-style-type: decimal;
}

/* line 21, ../sass/partials/_overrides.scss */
td, td img {
  vertical-align: top;
}

/* line 23, ../sass/partials/_overrides.scss */
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  bottom: -0.25em;
}

/* line 25, ../sass/partials/_overrides.scss */
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  top: -0.5em;
}

/* line 27, ../sass/partials/_overrides.scss */
textarea {
  overflow: auto;
}

/* line 57, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
a:hover, a:active {
  outline: none;
}

/* line 62, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
  padding: 15px;
}

/* line 71, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
input[type="radio"] {
  vertical-align: text-bottom;
}

/* line 72, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
input[type="checkbox"] {
  vertical-align: bottom;
}

/* line 73, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

/* line 74, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
.ie6 input {
  vertical-align: text-bottom;
}

/* line 79, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer;
}

/* line 84, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
button, input, select, textarea {
  margin: 0;
}

/* line 91, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
::-moz-selection {
  background: #aaefe4;
  color: white;
  text-shadow: none;
}

/* line 92, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
::selection {
  background: #aaefe4;
  color: white;
  text-shadow: none;
}

/* line 97, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
a:link {
  -webkit-tap-highlight-color: #aaefe4;
}

/* line 108, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
button {
  width: auto;
  overflow: visible;
}

/* line 112, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* line 114, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

/* line 119, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
nav ul, nav li {
  margin: 0;
  list-style: none;
  list-style-image: none;
}

/* line 51, ../sass/partials/_overrides.scss */
.ir {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  direction: ltr;
  background-repeat: no-repeat;
}

/* line 53, ../sass/partials/_overrides.scss */
.displayN, .display_none, .displayNone, .cache {
  display: none;
  visibility: hidden;
}

/* line 54, ../sass/partials/_overrides.scss */
.displayI, .display_inline, .displayInline {
  display: inline;
}

/* line 56, ../sass/partials/_overrides.scss */
.visually_hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 50, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_helpers.scss */
.visually_hidden.focusable:active, .visually_hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 58, ../sass/partials/_overrides.scss */
.clearfix {
  *zoom: 1;
}
/* line 22, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/compass_0.11/compass-0.11.beta.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

/* line 3, ../sass/partials/_page.scss */
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}

/*  INIT GRID + CLEAR */
/* line 7, ../sass/partials/_page.scss */
.container {
  margin-left: auto;
  margin-right: auto;
  width: 993px;
}
/* line 33, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .grid_1, .container .grid_2, .container .grid_3, .container .grid_4, .container .grid_5, .container .grid_6, .container .grid_7, .container .grid_8, .container .grid_9, .container .grid_10, .container .grid_11, .container .grid_12, .container .grid_13, .container .grid_14, .container .grid_15, .container .grid_16 {
  display: inline;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
}
/* line 36, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .grid_1 {
  width: 52.063px;
}
/* line 36, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .grid_2 {
  width: 114.125px;
}
/* line 36, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .grid_3 {
  width: 176.188px;
}
/* line 36, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .grid_4 {
  width: 238.25px;
}
/* line 36, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .grid_5 {
  width: 300.313px;
}
/* line 36, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .grid_6 {
  width: 362.375px;
}
/* line 36, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .grid_7 {
  width: 424.438px;
}
/* line 36, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .grid_8 {
  width: 486.5px;
}
/* line 36, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .grid_9 {
  width: 548.563px;
}
/* line 36, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .grid_10 {
  width: 610.625px;
}
/* line 36, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .grid_11 {
  width: 672.688px;
}
/* line 36, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .grid_12 {
  width: 734.75px;
}
/* line 36, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .grid_13 {
  width: 796.813px;
}
/* line 36, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .grid_14 {
  width: 858.875px;
}
/* line 36, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .grid_15 {
  width: 920.938px;
}
/* line 36, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .grid_16 {
  width: 983px;
}
/* line 44, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .prefix_1 {
  padding-left: 62.063px;
}
/* line 44, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .prefix_2 {
  padding-left: 124.125px;
}
/* line 44, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .prefix_3 {
  padding-left: 186.188px;
}
/* line 44, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .prefix_4 {
  padding-left: 248.25px;
}
/* line 44, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .prefix_5 {
  padding-left: 310.313px;
}
/* line 44, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .prefix_6 {
  padding-left: 372.375px;
}
/* line 44, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .prefix_7 {
  padding-left: 434.438px;
}
/* line 44, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .prefix_8 {
  padding-left: 496.5px;
}
/* line 44, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .prefix_9 {
  padding-left: 558.563px;
}
/* line 44, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .prefix_10 {
  padding-left: 620.625px;
}
/* line 44, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .prefix_11 {
  padding-left: 682.688px;
}
/* line 44, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .prefix_12 {
  padding-left: 744.75px;
}
/* line 44, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .prefix_13 {
  padding-left: 806.813px;
}
/* line 44, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .prefix_14 {
  padding-left: 868.875px;
}
/* line 44, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .prefix_15 {
  padding-left: 930.938px;
}
/* line 52, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .suffix_1 {
  padding-right: 62.063px;
}
/* line 52, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .suffix_2 {
  padding-right: 124.125px;
}
/* line 52, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .suffix_3 {
  padding-right: 186.188px;
}
/* line 52, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .suffix_4 {
  padding-right: 248.25px;
}
/* line 52, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .suffix_5 {
  padding-right: 310.313px;
}
/* line 52, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .suffix_6 {
  padding-right: 372.375px;
}
/* line 52, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .suffix_7 {
  padding-right: 434.438px;
}
/* line 52, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .suffix_8 {
  padding-right: 496.5px;
}
/* line 52, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .suffix_9 {
  padding-right: 558.563px;
}
/* line 52, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .suffix_10 {
  padding-right: 620.625px;
}
/* line 52, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .suffix_11 {
  padding-right: 682.688px;
}
/* line 52, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .suffix_12 {
  padding-right: 744.75px;
}
/* line 52, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .suffix_13 {
  padding-right: 806.813px;
}
/* line 52, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .suffix_14 {
  padding-right: 868.875px;
}
/* line 52, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .suffix_15 {
  padding-right: 930.938px;
}
/* line 56, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .alpha {
  margin-left: 0;
}
/* line 58, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .omega {
  margin-right: 0;
}
/* line 71, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .push_1, .container .push_2, .container .push_3, .container .push_4, .container .push_5, .container .push_6, .container .push_7, .container .push_8, .container .push_9, .container .push_10, .container .push_11, .container .push_12, .container .push_13, .container .push_14, .container .push_15, .container .push_16,
.container .pull_1, .container .pull_2, .container .pull_3, .container .pull_4, .container .pull_5, .container .pull_6, .container .pull_7, .container .pull_8, .container .pull_9, .container .pull_10, .container .pull_11, .container .pull_12, .container .pull_13, .container .pull_14, .container .pull_15, .container .pull_16 {
  position: relative;
}
/* line 75, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .push_1 {
  left: 62.063px;
}
/* line 77, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .pull_1 {
  left: -62.063px;
}
/* line 75, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .push_2 {
  left: 124.125px;
}
/* line 77, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .pull_2 {
  left: -124.125px;
}
/* line 75, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .push_3 {
  left: 186.188px;
}
/* line 77, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .pull_3 {
  left: -186.188px;
}
/* line 75, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .push_4 {
  left: 248.25px;
}
/* line 77, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .pull_4 {
  left: -248.25px;
}
/* line 75, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .push_5 {
  left: 310.313px;
}
/* line 77, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .pull_5 {
  left: -310.313px;
}
/* line 75, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .push_6 {
  left: 372.375px;
}
/* line 77, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .pull_6 {
  left: -372.375px;
}
/* line 75, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .push_7 {
  left: 434.438px;
}
/* line 77, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .pull_7 {
  left: -434.438px;
}
/* line 75, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .push_8 {
  left: 496.5px;
}
/* line 77, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .pull_8 {
  left: -496.5px;
}
/* line 75, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .push_9 {
  left: 558.563px;
}
/* line 77, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .pull_9 {
  left: -558.563px;
}
/* line 75, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .push_10 {
  left: 620.625px;
}
/* line 77, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .pull_10 {
  left: -620.625px;
}
/* line 75, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .push_11 {
  left: 682.688px;
}
/* line 77, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .pull_11 {
  left: -682.688px;
}
/* line 75, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .push_12 {
  left: 744.75px;
}
/* line 77, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .pull_12 {
  left: -744.75px;
}
/* line 75, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .push_13 {
  left: 806.813px;
}
/* line 77, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .pull_13 {
  left: -806.813px;
}
/* line 75, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .push_14 {
  left: 868.875px;
}
/* line 77, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .pull_14 {
  left: -868.875px;
}
/* line 75, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .push_15 {
  left: 930.938px;
}
/* line 77, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .pull_15 {
  left: -930.938px;
}
/* line 75, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .push_16 {
  left: 993px;
}
/* line 77, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .pull_16 {
  left: -993px;
}
/* line 56, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .alpha {
  margin-left: 0;
}
/* line 58, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container .omega {
  margin-right: 0;
}

/* line 11, ../sass/partials/_page.scss */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* line 21, ../sass/partials/_page.scss */
.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* line 30, ../sass/partials/_page.scss */
.clearfix:after {
  clear: both;
}

/* line 34, ../sass/partials/_page.scss */
.clearfix {
  zoom: 1;
}

@media print {
  /* line 24, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_media.scss */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* line 26, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_media.scss */
  a, a:visited {
    color: #444444 !important;
    text-decoration: underline;
  }

  /* line 27, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_media.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 28, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_media.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 29, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_media.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* line 30, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_media.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 31, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_media.scss */
  thead {
    display: table-header-group;
  }

  /* line 32, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_media.scss */
  tr, img {
    page-break-inside: avoid;
  }

  @page {
    margin: 0.5cm;
}

  /* line 34, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_media.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 35, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_media.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
@media screen and (max-device-width: 480px) {
  /* line 58, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/common/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_media.scss */
  html {
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
  }
}
/*  TEXT  */
/* line 12, ../sass/partials/_fonts.scss */
body {
  font: 13px/1.5 Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
  color: #111111;
}

/* line 16, ../sass/partials/_fonts.scss */
a, a:active, a:visited {
  color: #607890;
}

/* line 17, ../sass/partials/_fonts.scss */
a:hover {
  color: #003366;
}

/* line 18, ../sass/partials/_fonts.scss */
a:focus {
  outline: 1px dotted invert;
}

/* line 19, ../sass/partials/_fonts.scss */
hr {
  border-color: #cccccc;
  border-style: solid;
  border-width: 1px 0 0;
  clear: both;
  height: 0;
}

/* line 26, ../sass/partials/_fonts.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* line 29, ../sass/partials/_fonts.scss */
h1 {
  font-size: 25px;
}

/* line 32, ../sass/partials/_fonts.scss */
h2 {
  font-size: 23px;
}

/* line 35, ../sass/partials/_fonts.scss */
h3 {
  font-size: 21px;
}

/* line 38, ../sass/partials/_fonts.scss */
h4 {
  font-size: 19px;
}

/* line 41, ../sass/partials/_fonts.scss */
h5 {
  font-size: 17px;
}

/* line 44, ../sass/partials/_fonts.scss */
h6 {
  font-size: 15px;
}

/* line 47, ../sass/partials/_fonts.scss */
ol {
  list-style: decimal;
}

/* line 50, ../sass/partials/_fonts.scss */
ul {
  list-style: square;
}

/* line 53, ../sass/partials/_fonts.scss */
li {
  margin-left: 30px;
}

/* line 56, ../sass/partials/_fonts.scss */
p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset {
  margin-bottom: 20px;
}

/* line 60, ../sass/partials/_fonts.scss */
strong, th {
  font-weight: bold;
}

/* line 63, ../sass/partials/_fonts.scss */
small {
  font-size: 11px;
}

/*
+------------------------BODY-------------------------+
|                                                     |
|  +-------------------#top--------------------+      |
|  |                                           |      |
|  |  +-------------.container--------------+  |      |
|  |  |                                     |  |      |
|  |  |    contenus du top                  |  |      |
|  |  |                                     |  |      |
|  |  +-------------------------------------+  |      |
|  |                                           |      |
|  +-------------------------------------------+      |
|                                                     |
|                                                     |
|  +------------------#header------------------+      |
|  |                                           |      |
|  |  +-------------.container--------------+  |      |
|  |  |                                     |  |      |
|  |  |    contenus du header               |  |      |
|  |  |                                     |  |      |
|  |  +-------------------------------------+  |      |
|  |                                           |      |
|  +-------------------------------------------+      |
|                                                     |
|                                                     |
|  +-------------------#page---------------------+    |
|  |  +----------------#main-------------------+ |    |
|  |  |                                        | |    |
|  |  | +-------------.container-------------+ | |    |
|  |  | |                                    | | |    |
|  |  | | +--#main-content--+ +--#sidebar--+ | | |    |
|  |  | | |                 | |            | | | |    |
|  |  | | | contenus page   | |  contenus  | | | |    |
|  |  | | |                 | |            | | | |    |
|  |  | | +-----------------+ +------------+ | | |    |
|  |  | |                                    | | |    |
|  |  | +------------------------------------+ | |    |
|  |  +----------------------------------------+ |    |
|  +---------------------------------------------+    |
|                                                     |
|                                                     |
|  +--------------------#footer--------------------+  |
|  |                                               |  |
|  |    +-------------.container--------------+    |  |
|  |    |                                     |    |  |
|  |    |    contenus footer                  |    |  |
|  |    |                                     |    |  |
|  |    +-------------------------------------+    |  |
|  |                                               |  |
|  +-----------------------------------------------+  |
|                                                     |
+-----------------------------------------------------+
*/
/* line 56, ../sass/_structure.scss */
#wrapper_big_pub.activate {
  background-color: transparent;
  background-position: center top;
  background-repeat: no-repeat;
  cursor: pointer;
}
/* line 62, ../sass/_structure.scss */
#wrapper_big_pub.activate #global_page {
  cursor: default;
  margin-left: auto;
  margin-right: auto;
  width: 993px;
}
/* line 65, ../sass/_structure.scss */
#wrapper_big_pub.activate #global_page #header, #wrapper_big_pub.activate #global_page #menu, #wrapper_big_pub.activate #global_page #subheader, #wrapper_big_pub.activate #global_page #page .header {
  background-color: transparent !important;
  background-image: none !important;
}
/* line 71, ../sass/_structure.scss */
#wrapper_big_pub.activate #header .coloration {
  background-color: transparent;
  background-image: none;
}
/* line 75, ../sass/_structure.scss */
#wrapper_big_pub.activate #page .shaddow {
  left: 50%;
  margin-left: -492px;
  width: 983px;
}

/* line 82, ../sass/_structure.scss */
#wrapper_header_pub {
  display: block;
  position: relative;
  width: auto;
}
/* line 86, ../sass/_structure.scss */
#wrapper_header_pub a {
  display: block;
  width: auto;
  text-align: center;
  font-size: 1px;
  line-height: 1px;
}
/* line 93, ../sass/_structure.scss */
#wrapper_header_pub img {
  font-size: 1px;
  line-height: 1px;
}

/* line 106, ../sass/_structure.scss */
#top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9000;
}
/* line 112, ../sass/_structure.scss */
#top .main {
  height: 32px;
}

/* line 116, ../sass/_structure.scss */
.ie6 #top {
  position: relative;
}

/* line 121, ../sass/_structure.scss */
#top, #header, #footer {
  clear: both;
}

/* line 127, ../sass/_structure.scss */
#wrapper_big_pub {
  margin-top: 32px;
}

/* line 128, ../sass/_structure.scss */
.ie6 #wrapper_big_pub {
  margin-top: 0;
}

/* line 129, ../sass/_structure.scss */
.main {
  display: inline;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  width: 983px;
}

/* line 133, ../sass/_structure.scss */
#menu {
  display: block;
}
/* line 136, ../sass/_structure.scss */
#menu .coloration, #menu .navigation {
  height: 32px;
}
/* line 139, ../sass/_structure.scss */
#menu .coloration {
  float: left;
  width: 50%;
  margin-left: -492px;
}
/* line 144, ../sass/_structure.scss */
#menu .navigation {
  margin: 0 auto;
  width: 983px;
  display: block;
  float: left;
}

/* line 152, ../sass/_structure.scss */
#rubriques {
  list-style-type: none;
}
/* line 5, ../../../../../../../../Applications/compass.app/Contents/Resources/ruby/compass_0.11/compass-0.11.beta.6/frameworks/compass/stylesheets/compass/typography/lists/_inline-list.scss */
#rubriques, #rubriques li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
/* line 154, ../sass/_structure.scss */
#rubriques li {
  float: left;
}

/* line 159, ../sass/_structure.scss */
#page {
  position: relative;
}
/* line 162, ../sass/_structure.scss */
#page .shaddow {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  font-size: 1px;
}

/* line 172, ../sass/_structure.scss */
#sidebar {
  margin-right: 0;
  display: inline;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  width: 300.313px;
}

/* line 176, ../sass/_structure.scss */
#main-content {
  margin-left: 0;
  display: inline;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  width: 672.688px;
}

/* line 1, ../sass/partials/_test.scss */
#wrapper_big_pub {
  background-color: #e697bd;
  /*padding-top: 305px;*/
}
/* line 5, ../sass/partials/_test.scss */
#wrapper_big_pub.activate {
  background-color: black !important;
  background-image: url(/images/_test/full_size_window_pub_test.jpg);
  background-position: center top;
  background-repeat: no-repeat;
}

/* line 14, ../sass/partials/_test.scss */
#top {
  background-color: #eac8a0;
}
/* line 17, ../sass/partials/_test.scss */
#top .main {
  background-color: #e1b076;
}

/* line 22, ../sass/partials/_test.scss */
#header {
  background-color: #d0c5de;
}
/* line 25, ../sass/partials/_test.scss */
#header .main {
  background-color: #b5a5cb;
}

/* line 29, ../sass/partials/_test.scss */
#menu {
  background-color: #f0edbe;
}
/* line 32, ../sass/partials/_test.scss */
#menu .coloration {
  background-color: #b7ae2b;
}
/* line 35, ../sass/partials/_test.scss */
#menu .navigation {
  background-color: #dcd56c;
}

/* line 41, ../sass/partials/_test.scss */
#header .main, #footer .main {
  height: 200px;
}

/* line 47, ../sass/partials/_test.scss */
#header_page {
  background-color: #a3d087;
}
/* line 51, ../sass/partials/_test.scss */
#header_page .main {
  height: 30px;
  background-color: #6cae43;
}

/* line 57, ../sass/partials/_test.scss */
#subheader {
  background-color: #91bb9f;
}
/* line 60, ../sass/partials/_test.scss */
#subheader .main {
  background-color: #588e6a;
  height: 30px;
}

/* line 67, ../sass/partials/_test.scss */
#page .shaddow {
  background-color: #547772;
  height: 5px;
}
/* line 72, ../sass/partials/_test.scss */
#page .header {
  background-color: #1a1a1a;
}
/* line 76, ../sass/partials/_test.scss */
#page .header .main {
  height: 150px;
  background-color: #4d4d4d;
}

/* line 83, ../sass/partials/_test.scss */
#sidebar, #main-content {
  height: 400px;
}

/* line 86, ../sass/partials/_test.scss */
#main-content {
  background-color: #a5bbcb;
}

/* line 90, ../sass/partials/_test.scss */
#sidebar {
  background-color: #d3b4ab;
}

/* line 94, ../sass/partials/_test.scss */
#footer {
  background-color: #c6c6c6;
}
/* line 97, ../sass/partials/_test.scss */
#footer .main {
  background-color: #acacac;
  height: 160px;
}
